.header{
    text-align: center;
    color: #5A2D0C;
    background: #FFEBCD;
    padding: 20px;
    font-weight: bold;
    border-radius: 30px;
}

.menu-list{
    background: #E6E6FA;
    padding: 20px;
    border-radius: 30px;
}









